// * Content

/*
  ? Bootstrap Media Example
  @include media-breakpoint-up(md) | media-breakpoint-down(md) | media-breakpoint-between(sm, md)
*/

#main-content {
  position: relative;
  z-index: 1;
  min-height: var(--vh100, 100vh);

  > div > section:first-of-type {
    padding-top: var(--menu-h);
    transition: padding 200ms;
    margin: 0;
  }
}

.viewport {
  overflow-x: hidden;
}
.scroll-container {
  background-color: $bgc;
}
html.desktop {
  & .viewport {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: var(--vh100, 100vh);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }

  & .scroll-container {
    position: absolute;
    overflow: hidden;
    z-index: 10;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    width: 100%;
  }
}

.page > section {
  padding-top: 5rem;
}

.first-section {
  height: 100vh;
  color: #fff;
  text-align: center;
  h1 {
    margin-bottom: 0;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }
  p {
    font-weight: bold;
    margin-top: 65px;
  }
  .fb-block {
    margin-bottom: 50px;
    button {
      text-transform: none;
      font-size: 14px;
      margin-top: 20px;
      margin-left: 30px;
      position: relative;
      padding: 10px 49px 10px 25px;
      &::after {
        content: url("../img/bm.svg");
        position: absolute;
        margin-top: -1px;
        padding-left: 15px;
      }
      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}
.btn.s-btn,
.s-btn {
  font-size: 13px;
  padding: 13px 40px;
  background: #bb9a61;
  color: #fff;
  font-weight: bold;
}
.btn.nc-b {
  padding: 14px 38px 14px 24px;
}
.first-section.bg {
  background-image: url("../img/fs-1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.first-section-content {
  // margin: 0 0 50px 50px;
}
.first-section > .row {
  background: rgba(0, 0, 0, 0.5);
}

.img-block {
  img {
    width: 100%;
  }
}
.why-section {
  background: #ededed;
  padding: 100px 0;
}
.why-r {
  display: flex;
  text-align: center;
  .why-c {
    padding: 20px;
  }
  img {
    margin: 0 auto;
  }
  p {
    width: 80%;
    margin: 0 auto;
  }
}

.product-ai {
  background: #ededed;
  img {
    width: 100%;
  }
  .ai-info {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }
}

.homs-section {
  .col-lg-8 {
    margin-bottom: 30px;
    .product-ai {
      height: 100%;
      img {
        height: calc(100% - 43px);
      }
    }
  }

  .col-lg-4 .product-ai {
    margin-bottom: 30px;
  }
}

.contact_home_section {
  background-repeat: no-repeat;
  background-size: cover;
  .col-12 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  label {
    margin-bottom: 20px;
  }
  input:not(.wpcf7-submit),
  textarea {
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    &::placeholder {
      color: #000;
    }
  }

  input.wpcf7-submit {
    border: none;
    display: block;
    width: 100%;
    text-transform: uppercase;
    border-radius: 6px;
  }
}

.reviews-section {
  p {
    padding-bottom: 500px;
  }
}

.wwo_section {
  background-repeat: no-repeat;
  background-size: cover;
  .col-12 > div {
    background: rgba(255, 255, 255, 0.8);
  }
  p {
    padding: 50px 220px 25px 100px;
    font-size: 20px;
  }
}

.blur-o {
  backdrop-filter: blur(5px) brightness(70%);
}

.first-fluid {
  h1 {
    color: #fff;
  }
}

.about-our-plans > section:first-child,
.bg-container {
  background-repeat: no-repeat;
  background-size: cover;
}

.aop-content {
  margin: 0;
  padding: 120px 0;
  &-1 {
    > div:first-child {
      .col-12 {
        margin-bottom: 100px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.bg-container section {
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
}

.aop-why {
  > row:nth-child(2) {
    background-image: url();
  }
}

.post-block {
  background: #ededed;
  margin-bottom: 24px;
  .content {
    padding: 0 30px 40px 30px;
    p {
      font-size: 18px;
      margin-bottom: 25px;
    }
    a {
      font-size: 13px;
      padding: 1rem 2rem;
      background: #BB9A61;
      border-radius: 6px;
    }
  }
}

.meta-p {
  color: #bb9a61;
}

.post-content {
}
